<footer class="footer">
    <div class="container footer-container">
        <div class="footer-container-logo">
            <a href="./index.html" class="footer-logo">yachtjet</a>
            <ul class="footer-anchor-list">
                <li class="footer-anchor-item">
                    <a href="#hero-part">
                        <button class="footer-anchor-button" type="button">ABOUT</button></a>
                </li>
                <li class="footer-anchor-item">
                    <a href="#hero-part">
                        <button class="footer-anchor-button" type="button">YACHTS</button></a>
                </li>
                <li class="footer-anchor-item">
                    <a href="#hero-part">
                        <button class="footer-anchor-button" type="button">REVIEWS</button></a>
                </li>
            </ul>
        </div>
</footer>