<section class="rent">
  <div class="container">
    <p class="-rent-title">Rent a yacht now</p>
    <form class="yacht-rent-form">
      <div class="form-field">
        <div class="input-wrap">
          <input
            class="modal-input"
            id="user-name"
            name="user-name"
            type="text"
            placeholder="Full Name"
          />
        </div>
      </div>
      <div class="form-field">
        <div class="input-wrap">
          <input
            class="modal-input"
            id="user-email"
            name="user-email"
            type="email"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-field">
        <div class="input-wrap">
          <input
            class="modal-input"
            id="user-phone"
            name="user-phone"
            type="tel"
            placeholder="Phone number"
          />
        </div>
      </div>
      <div class="comment-field">
        <textarea
          class="form-text-input"
          id="user-comment"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
    <img
      src="../images/rent/rent-img-mob-1x.jpg"
      alt="Rent a yacht"
      width="335"
      height="412"
    />
  </div>
</section>
