<section class="rent">
  <div class="container">
    <p class="rent-title">Rent a yacht now</p>
    <form class="yacht-rent-form">
      <input
        class="rent-input"
        id="user-name"
        name="user-name"
        type="text"
        placeholder="Full Name"
      />
      <input
        class="rent-input"
        id="user-email"
        name="user-email"
        type="email"
        placeholder="Email"
      />
      <input
        class="rent-input"
        id="user-phone"
        name="user-phone"
        type="tel"
        placeholder="Phone number"
      />

      <div class="comment-field">
        <textarea
          class="rent-text-input"
          id="user-comment"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
      </div>
      <button class="rent-button" type="submit">Send</button>
    </form>
    <img
      src="../img/rent/rent-img-mob-1x.jpg"
      alt="Rent a yacht"
      width="335"
      height="412"
    />
  </div>
</section>
