.about {
}
.container {
}
.about-container {
    border-radius: 24px;
    height: 675px;
    background: #fbfbfb;
    position: relative;
}
.about-title {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #1b414b;
    line-height: 1;
}
.about-content {
    padding: 40px 0;
}
.about-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
.about-subtitle {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #1b414b;
    line-height: 1;
}
.about-text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    line-height: 1.2;
}
.about-img {
    display: block;
    position: absolute;
    left: 0;
    border-radius: 24px;
}

@media screen and (min-width: 375px) {
    .about-container {
        width: 335px;
    }
    .about-title {
        width: 295px;
    }
    .about-wrapper {
        width: 295px;
    }
    .about-img {
        width: 335px;
        height: 395px;
    }
}
@media screen and (min-width: 767px) {
    .about-container {
        width: 704px;
    }
    .about-content {
        padding: 50px 12px;
    }
    .about-title {
        font-size: 48px;
        width: 536px;
    }
    .about-subtitle {
        font-size: 23px;
    }
    .about-wrapper {
        width: 389px;
    }
    .about-text {
        font-size: 13px;
    }
     .about-img {
        width: 704px;
        height: 470px;
    }
}

@media screen and (min-width: 1279px) {
    .about-container {
        width: 1180px;
    }
    .about-content {
        padding: 50px 30px 100px 30px;
        display: flex;
        justify-content: space-between;
    }
    .about-wrapper {
        width: 354px;
        margin-top: 0;
    }
    .about-img {
        width: 1180px;
        height: 470px;
    }
    
}
