.header {
  border-radius: 8px;
  border: 1px solid #FBFBFB;
  background: #FBFBFB;
  width: calc(100% - 40px);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.header-logo {
  color: #1B414B;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.header-open-btn {
  padding: 0;
  border: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-open-icon {
  fill: #1B414B;
}

/** mob-menu */

.mob-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0E1823;
  z-index: 10;
  padding: 16px 16px 40px 16px;
  transform: translateX(-100%);
  transition: transform 250ms;
}

.mob-header-wrapper {
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #FBFBFB;
  background: #FBFBFB;
  padding: 0 20px;
  margin-inline: auto;
  margin-bottom: 201px;
}

.mob-menu-navigation {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.mob-menu-logo {
  color: #1B414B;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.mob-menu-close-btn {
  padding: 0;
  border: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-menu-close-icon {
  fill: #055545;
}

.mob-btn-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: auto;
}

.mob-btn-item {
  width: 91px;
  height: 40px;
  margin: 0 auto;
}

.mob-btn {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.50);
  border: none;
  color: #FBFBFB;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
}

.current {
  background: #1B414B;
}

.mob-soc-list {
  display: flex;
  gap: 8px; 
  justify-content: center;
  
}

.mob-soc-item {
}

.mob-soc-link {
  width: 24px;
  height: 24px;
}

.mob-soc-icon {
  fill: #FBFBFB;
}

/** is-open */

.is-mob-menu-open {
  transform: translateX(0%);
}

/** ---------- */

@media screen and (min-width: )