/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./src/css/reset.css');
@import url('./src/css/header.css');
@import url('./src/css/hero.css');
@import url('./src/css/about.css');
@import url('./src/css/yachts.css');
@import url('./src/css/advantages.css');
@import url('./src/css/rent.css');
@import url('./src/css/reviews.css');
@import url('./src/css/footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #0e1823;
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 0 20px;
}